$mainColor: #00205b;

.blogs {
  margin-top: 100px;
  .subtext {
    font: {
      weight: 500;
      size: 14px;
      family: "Plus Jakarta Sans";
    }
    line-height: 24px;
    text-align: center;
    color: #878690;
    margin: 16px 0 44px;
  }
  .blogs-content {
    font-family: "Plus Jakarta Sans";
    .blogs-item {
      .blogs-item-body {
        aspect-ratio: 1.82 / 1;
        background: #f6f6f6;
        position: relative;
        margin-top: 20px;
        .blogs-item-img-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
        }
      }
      .blogs-item-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 20.16px;
        text-align: left;
        color: $mainColor;
        margin: 24px 0 8px;
      }
      .blogs-item-subtext {
        font: {
          weight: 500;
          size: 14px;
          family: "Plus Jakarta Sans";
        }
        line-height: 24px;
        text-align: center;
        color: #878690;
        text-align: left;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; 
        overflow: hidden; 
        text-overflow: ellipsis; 
      }
    }
  }
}
