@import './default.scss';
@import './components/product-item.scss';
@import './components/blogs.scss';
@import './components/subscribe.scss';
@import './components/slide.scss';
@import './components/footer.scss';
@import './components/tabs.scss';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

